/* free courses */
.free-course-card{
    cursor: pointer;
    align-items: flex-start;
    justify-content: flex-start;
}
.free-course-details{
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: flex-start;
    justify-content: center;
}

    .course-info{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 4px;
    }
        .course-info-item, .viewed-videos{
            display: inline-flex;
            align-items: center;
            gap: 12px;
            color: rgba(75, 85, 99, 0.82);
            font-size: .8rem;
        }
    /* free course progress (empty bar)*/    
    .free-course-progress-container {
        background: rgba(75, 85, 99, 0.1);
        border-radius: 10px;
        width: 210px;
        height: 8px;
        overflow: hidden;
    }
        .free-course-progress-bar{
            height: 100%;
            background: linear-gradient(45deg,rgba(34, 103, 250, 1) 0%, rgba(91, 77, 245, 1) 25%, rgba(140, 60, 255, 1) 50%, rgba(192, 37, 255, 1) 100%);    border-radius: 10px;
            width: 0%;
            transition: width 0.3s ease;
        }